# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# TensorBoard logs
logs/

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store

# PDF and other docs
*.pdf

# Requirements cache
pip-log.txt
pip-delete-this-directory.txt

# VS Code settings
.vscode/


embeddings.ipynb

text_classification.ipynb